
:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}

.btn {
  cursor: pointer;
}

#one{
  background-color: #00ffff;
}

#two{
  background-color: yellow;
}

#three{
  background-color: #ff00ff;
}

#four{
  background-color: black;
}